.logo{
	background-image: url("../img/logotipo-preto.png");
	background-repeat: no-repeat;
	display: block;
	width: 120px;
	height: 53px;
	text-indent: -9999px;/* faz o texto sumir da caixa onde ele está contido*/
	margin: 0;
	
	&--branco{
		background-image: url('../img/logotipo-branco.png');
		background-repeat: no-repeat;
	}
}