.servicos{
	padding: 30px 0;
	overflow: auto;
	
	&__item{
		text-align: center;
		margin-bottom: 50px;
        padding: 0 15px;
		@media(min-width: $breakpoint-md){
			float: left;
			width: 33.333%;
		}
	}
	&__texto{
		color:$cor-leitura;
	}
}